<article>
	<header id="content-header">
  <h1><%= pluralize(@users.size, 'User') %></h1>
</header>

<% @users = User.all %>
<ol>
<% @users.each do |user| %>
 <li> <%= link_to user.full_name, users_admin_path(user) %><br/>
  <%= user.email %></li>
<% end %>
</ol>


<footer>
	<nav>
		<%= link_to "Add New User", new_users_admin_path, class: 'button' %> 
	</nav>
</footer>
</article>

